<p>
    Graduado no curso de Bacharelado em Ciência e Tecnologia, e graduando em Engenharia de Materiais e 
    Ciência da Computação pela Universidade Federal do ABC em Santo André (SP). Programador Python, possui 
    experiência com Machine Learning para classificação, regressão, processamento de linguagens naturais, 
    séries temporais e detecção de anomalias. Possui também experiencia com desenvolvimento de APIs REST via Flask. 
    Realizou intercâmbio na Technische Universität Ilmenau, na Alemanha, onde trabalhou em laboratório de nanotecnologia pelo 
    Institut für Mikro- und Nanoelektronik. Habilidades linguísticas incluem inglês e alemão avançado. Participou do 
    Programa de Educação Tutorial (PET), atuando em diversos projetos nos pilares de pesquisa, ensino e inovação.
     No momento integra a equipe de Data Science na Builtcode como estagiário.
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <a href="https://www.linkedin.com/in/erickfasterra/" class="title">Linkedin</a>
</p>
