<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

    <div class="icon-title">
        <p>
            <i class="fa fa-linkedin" aria-hidden="true"></i>

            <a href="https://www.linkedin.com/in/erickfasterra/" class="title">Linkedin</a>
        </p>
    </div>

    <div class="icon-title">
        <p>
            <i class="fa fa-github-square" aria-hidden="true"></i>
    
            <a href="https://github.com/Erick-Faster" class="title">Github</a>
        </p>
    </div>

    <div class="icon-title">
        <p>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>

            <a href="https://twitter.com/faster_erick" class="title">Twitter</a>
        </p>
    </div>
    <div class="icon-title">
        <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>

            <a href="mailto:erick.fasterra@gmail.com" class="title">E-Mail</a>
        </p>
    </div>


</div>