<div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Inglês (Avançado)</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Alemão (Avançado)</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Francês (Intermediário)</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Espanhol (Intermediário)</p>
      </div>
    </div>

  </div>