<div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/flask.png" alt="Card image">
        <p class="card-text">Flask</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/html5.png" alt="Card image">
        <p class="card-text">HTML5</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>

  </div>