
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/twitter.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Gerador de Tweets</h4>
          <!--Text-->
          <p class="card-text">Geração de Tweets que imita estilo de escrita do autor, baseado na extração de tweets antigos.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="https://github.com/Erick-Faster/twitter-generator/blob/master/Tweets-Generator.ipynb" class="btn btn-primary">Notebook</a>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/anomalia1.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Detecção de Anomalias</h4>
          <!--Text-->
          <p class="card-text">Projeto de previsão e detecção de anomalias para um Dataset extraído do Kaggle. (Notebook em breve)
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary" disabled>Notebook</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/characterlevel.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">NLP Character-level</h4>
          <!--Text-->
          <p class="card-text">Análise da previsão de gêneros dos substantivos em alemão utilizando NLP char-level e LSTM (Notebook em breve)
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary" disabled>Notebook</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/previsao.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Toolbox para Séries Temporais</h4>
            <!--Text-->
            <p class="card-text">Análise de séries temporais utilizando ARIMA, SARIMAX, LSTM, Prophet e Sktime (Notebook em breve)</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary" disabled>Notebook</button>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/project4.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Gerbot</h4>
            <!--Text-->
            <p class="card-text">Chatbot construido com NLP e redes neurais profundas. Este interage com estudantes do idioma alemão,
               além de corrigir erros gramaticais comuns do nível A1</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="https://github.com/Erick-Faster/gerbot-api" class="btn btn-primary">Github</a>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/fresa.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Previsão de Rugosidade em Peças Usinadas</h4>
            <!--Text-->
            <p class="card-text">Trabalho apresentado no IX Encontro de Iniciação Científica da UFABC, com o objetivo de comparar diversos métodos de ML para a previsão da rugosidade superficial de materiais após o processamento de usinagem.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="https://github.com/Erick-Faster/poster-usinagem/blob/main/Poster_2019_Erick_Fasterra_da_Silva%20v3.pdf" class="btn btn-primary">Poster</a>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/project3.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Projeto Corona Market</h4>
            <!--Text-->
            <p class="card-text">Site para conectar voluntários de uma comunidade dispostos à realizar compras para pessoas em grupo de risco
              em tempos de Covid-19, motivando-as a não saírem de casa.</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="https://github.com/Erick-Faster/corona-market-api" class="btn btn-primary">Github</a>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/project2.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Buscador de Artigos Relacionados ao Covid-19</h4>
            <!--Text-->
            <p class="card-text">Aplicação que realiza busca de conjunto de palavras-chave em + de 60 mil artigos científicos relacionados ao Covid-19,
              extraídos do Kaggle. (Notebook em Breve)</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary" disabled>Github</button>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="static/images/niqueis.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
    
            <!--Title-->
            <h4 class="card-title">Multi Armed Bandit Problem aplicado ao Covid-19</h4>
            <!--Text-->
            <p class="card-text">Análise superficial da chance de contágio por Covid-19 utilizando alguns conceitos de aprendizado por reforço (Notebook em breve)</p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-primary" disabled>Notebook</button>
    
          </div>
    
        </div>
        <!-- Card -->
      </div>

    </div>
</div>