<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/project4.jpg"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Corretor de Escrita em Alemão</h4>
          <!--Text-->
          <p class="card-text">Aplicação que corrige respostas para perguntas básicas em alemão, avaliando contexto,
        ortografia e gramática do nível A1.  </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary">Github</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/project2.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Buscador de Artigos Relacionados ao Covid-19</h4>
          <!--Text-->
          <p class="card-text">Aplicação que realiza busca de conjunto de palavras-chave em + de 60 mil artigos científicos relacionados ao Covid-19,
            extraídos do Kaggle.
          </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary">Github</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="static/images/project3.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body">
  
          <!--Title-->
          <h4 class="card-title">Projeto Corona Market</h4>
          <!--Text-->
          <p class="card-text">Site para conectar voluntários de uma comunidade dispostos à realizar compras para pessoas em grupo de risco
            em tempos de Covid-19, motivando-os a não saírem de casa.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary">Github</button>
  
        </div>
  
      </div>
      <!-- Card -->
    </div>

  </div>