<div class="container">
  <div class="card-deck">
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/flask1.png" title="Flask" alt="Flask">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/spacy1.png" title="SpaCy" alt="Card image">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/tensor1.png" alt="Card image">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/pandas1.png" alt="Card image">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/numpy1.png" alt="Card image">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <img class="card-img-top" src="static/images/matplotlib1.png" alt="Card image">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
