<div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/flask1.png" alt="Card image">
        <p class="card-text">Flask</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/spacy1.png" alt="Card image">
        <p class="card-text">SpaCy</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/tensor1.png" alt="Card image">
        <p class="card-text">Tensorflow</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/pandas1.png" alt="Card image">
        <p class="card-text">Pandas</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/numpy1.png" alt="Card image">
        <p class="card-text">Numpy</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="card-img-top" src="static/images/matplotlib1.png" alt="Card image">
        <p class="card-text">Matplotlib</p>
      </div>
    </div>

  </div>
