<div class="container">

          <span class="font-weight-bold">2020</span>
          <ul>
              <li>
                  <div class="icon-title">
                      <i class="fas fa-coffee"></i>
                      <a href="/" class="title">[job] Builtcode</a>
                  </div>
                  <p>Lorem Ipson </p>
              </li>
              <li>
                  <div class="icon-title">
                      <i class="fas fa-coffee"></i>
                      <a href="/" class="title">[life] Study</a>
                  </div>
                  <p>Lorem Ipson </p>
              </li>
          </ul>



          <span class="font-weight-bold">2019</span>
          <ul>
              <li>
                  <div class="icon-title">
                      <i class="fas fa-coffee"></i>
                      <a href="/" class="title">[edu] Project Presentation</a>
                  </div>
                  <p>Lorem Ipson </p>
              </li>
              <li>
                  <div class="icon-title">
                      <i class="fas fa-coffee"></i>
                      <a href="/" class="title">[life] Santo Andre, Brazil</a>
                  </div>
                  <p>Lorem Ipson </p>
              </li>
          </ul>
</div>